@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);

/* ==========================================================================
   Wrapper CSS
   ========================================================================== */

* {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  margin: 0;
}

html, body {
  height: 100%;
  margin: auto;
}

input, textarea, a {
  resize:none;
  border-radius:                    2px!important;
  -webkit-border-radius:            2px!important;
  -moz-border-radius:               2px!important;
}

select {
  -moz-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: '';
  border-radius:                    2px!important;
  -webkit-border-radius:            2px!important;
  -moz-border-radius:               2px!important; 
}

/*@media (min-width:992px){.container{width:840px}}*/
@media (min-width:1200px){.container{width:970px}}

a:hover {
  text-decoration: none;
  color: #428bca;
}

.mtop20 {
  margin-top: 20px;
}

.mright10 {
  margin-right: 10px!important;
}

.p15 {
  padding: 15px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 0 auto -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
  margin: 50px auto -100px;
  width: 970px;
  position: relative; 
}

.apply-height {
  height:0px!important;
}

pre {
   overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
   white-space: pre-wrap; /* css-3 */
   white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
   white-space: -pre-wrap; /* Opera 4-6 */
   white-space: -o-pre-wrap; /* Opera 7 */
   /* width: 99%; */
   word-wrap: break-word; /* Internet Explorer 5.5+ */
}


/* ==========================================================================
   Footer CSS
   ========================================================================== */
.waves {
  height: 18px;
  background: url("../img/main/footer_waves.png") no-repeat;
}

.baby {
  height: 140px;
  margin-left: 85%;
  margin-top: -180px;
  background: url("../img/main/footer_baby.png") no-repeat;
  background-size: 80%;
  z-index: 331;
  position: relative;
}

.purple-box {
  height: 100px;
  background-color: #52126E;
}

.site-footer .copyright {
  color: #FFF;
  float: left;
  width: 100%;
  padding: 0 20px;
}

.footer-links {
  margin-left: -30px;
}

.footer-box {
  padding-top: 5px;
}

.footer-links > a {
  color:#FFF;
}

/* ==========================================================================
   Font CSS
   ========================================================================== */
.cs-font-raleway {
  font-family: 'Raleway', sans-serif;
}

.cs-font-gochi,.cs-font-gochi > li > a {
  font-family: 'Gochi Hand', cursive; 
  font-size: 13px;
}

.cs-font-permarker {
  font-family: 'Permanent Marker', cursive;
}

.cs-font-delius,.cs-font-delius > li > a {
  font-family: 'Delius Unicase', cursive;
}

.font-white {
  color: #FFF;
}

.font-red {
  color: #FF0000;
}

.font-black {
  color: #000!important;
}

.in-font {
  font-size:12px;
}

.font-11 {
  font-size: 11px;
}

.font-10 {
  font-size: 10px;
}

.float-right{
  float: right;
}

/* ==========================================================================
   Header CSS
   ========================================================================== */

.ad-banner {
  margin: 10px auto;
  width: 700px;
}

.logo {
  margin-top: 15px;
  width: 504px;
  height: 135px;
  background-image: url("../img/main/logo.png");
/*  margin: 0 -30px 0 17px;*/
  background-size: 90%;
  background-repeat: no-repeat;
}

.logo-small {
  margin-top: 15px;
  width: 410px;
  height: 105px;
  background-image: url("../img/main/logo.png");
/*  margin: 0 -30px 0 17px;*/
  background-size: 90%;
  background-repeat: no-repeat;
}

.register-login {
/*  margin-left:-20px;
  margin-bottom:-33px;*/
  margin: 21px 0 -26px 43px;
  z-index: 999;
  width: 290px;
  height: 171px;
  background-image: url("../img/main/piano_girl.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

.search {
  margin: 40px 0 0 63px;
}

.search-small {
  margin-bottom: 10px;
}

.search-textbox {
  width:111%;
}

.search-icon {
  margin-bottom: 4px;
}

.register-login-xs {
  margin-top: 10px;
}


/* ==========================================================================
   Navbar CSS
   ========================================================================== */

.nav-container {
  max-width:1000px!important;
  margin: -7px auto 0 auto;
  padding: 0 15px;
}

.header-container {
  max-width:1000px!important;
  margin: 0 auto;
  padding: 0 15px;
}
 
.navbar-nav > li{
  margin: 0 -7px;
}

.nav-bg-color {
  background-color: #B47ACE;
}

.nav-bg-color-2 {
  background-color: #52126E;
}

.shadow {
  -moz-box-shadow:    6px 5px 1px 0 #734487;
  -webkit-box-shadow: 6px 5px 1px 0 #734487;
  box-shadow:         6px 5px 1px 0 #734487;
  border-color: #B47ACE;
}

.shadow-dark {
  -moz-box-shadow:    6px 5px 1px 0 #490E57;
  -webkit-box-shadow: 6px 5px 1px 0 #490E57;
  box-shadow:         6px 5px 1px 0 #490E57;
  border-color: #52126E; 
}

.main-sap-nav > li > a{
  color: #000!important;
  font-size: 11px;
  font-weight: 700;
}

.centre-login {
  color: #FFF!important;
  font-size: 12px;
}

.main-sap-nav > li.active > a {
  color: #000!important;
}

#sap-navbar {
  width:950px;
}

.navbar, .navbar-toggle {
  border-radius: 0!important;
}

/* ==========================================================================
   Predefined CSS
   ========================================================================== */
.custom-row {
  display:table;
}

.custom-cell {
  display:table-cell;
}

.mg-left-5{
  margin-left: 5px;
}

.mg-left-10 {
  margin-left: 10px;
}
.mg-left-20 {
  margin-left: 20px;
}

.mg-left-30 {
  margin-left: 90px;
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-neg40 {
  margin-top: -40px;
}

.mg-left-neg15 {
  margin-left: -15px;
}

.pd-l-20 {
  padding-left: 20px;
}

.pd-rl-30 {
  padding: 0 30px;
}

.pd-lr-5 {
  padding: 0 5px 0 5px;
}

.pd-r-10 {
  padding-right: 10px;
}

.pd-r-15 {
  padding-right: 13px;
}

.pd-t-15 {
  padding-top: 15px;
}

.h-px-50 {
  height:50px;
}

.w-px-369 {
  width:369px;
}

.w-p-5 {
  width: 5%;
}

.w-p-10 {
  width: 10%;
}

.w-p-70 {
  width: 70%;
}

.hidden {
  display:none!important;
}
.bd-radius-3 {
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
}

.z-ix {
  z-index: 999!important;
}

select::-ms-expand {
    display: none;
}

.styled-select p {
  display: inline-block;
  font-weight: bold;
}

.styled-select select {
  background: transparent;
  width: 400px;
  height: 34px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor:pointer;
} 

.styled-select {
   width: 400px;
   height: 34px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
   overflow: hidden;
   background: url('../img/register/dropdown.png') no-repeat right;
   text-indent: 1px;
   text-overflow: '';
}

.reg-button {
   background: #672481;
   background: -webkit-gradient(linear, left top, left bottom, from(#672481), to(#672481));
   background: -webkit-linear-gradient(top, #672481, #672481);
   background: -moz-linear-gradient(top, #672481, #672481);
   background: -ms-linear-gradient(top, #672481, #672481);
   background: -o-linear-gradient(top, #672481, #672481);
   padding: 5px 26px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -moz-box-shadow:    3px 2px 0 -1px #4D2557;
   -webkit-box-shadow: 3px 2px 0 -1px #4D2557;
   box-shadow:         3px 2px 0 -1px #4D2557;
   border-color: #672481;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #FFF;
   font-size: 12px;
   text-decoration: none;
   }
.reg-button:hover {
   border-top-color: #672481;
   background: #672481;
   color: #ccc;
   }
.reg-button:active {
   border-top-color: #65248b;
   background: #65248b;
   }


/* ==========================================================================
   Other CSS
   ========================================================================== */

@-moz-document url-prefix() {

.register-login{
    margin-bottom:-42px;
}
}